<div class="col-md-12 ">
  <!---------------------------------------------------------------------------------------->
  <section class="content">
    <div class="centralizar">
      <h3> Comentários</h3>   
      <form action = "" method = "post" name="UserCreateForm" enctype="multipart/form-data">
        <input type="hidden" name="post_id" value="32">
        <div class='div_centralizada'>

          <br>
          <div id="myNicPanel" style=" width: 70%;" class="textarea_centralizado ">
            <div  class="">
              <span class="">Informe o_textos_do Comentário</span>
            </div>  <textarea
                style="height: 100px;"
                name="textos"
                title="Informe o_textos_do Comentário"
                rows="6"
                cols="40"
                id="textos"
                ></textarea>

            <br> <br>
          </div>
        </div>





        <input type="submit" name="SendTexto" value="Gravar" class="button" /> 
      </form>
      <br>
      <br>
      <div class="tabela">
        <div class="linha">
          <!--          <div class="linha">-->
          <div class='coluna' style=" border: 1px solid #000;padding: 5px;width:4%;">
            DATA
          </div>
          <div class='coluna' style="text-align:justify; border: 1px solid #000;padding: 5px;width:30%;">
            COMENTÁRIO
          </div>
          <div class='coluna' style=" border: 1px solid #000;padding: 5px;width:5%;">
            POR
            <!--</div>-->
          </div>

          <div class="linha">
            <div class='coluna' style=" border: 1px solid #000;padding: 5px;width:4%;">
              21/03/2025 11:38
            </div>
            <div class='coluna' style="text-align:justify; border: 1px solid #000;padding: 5px;width:30%;">
              kkkkkkkk
            </div>
            <div class='coluna' style=" border: 1px solid #000;padding: 5px;width:5%;">
              Maia
            </div>
          </div>  <div class="linha">
            <div class='coluna' style=" border: 1px solid #000;padding: 5px;width:4%;">
              20/03/2025 17:23
            </div>
            <div class='coluna' style="text-align:justify; border: 1px solid #000;padding: 5px;width:30%;">
              5555555555555
            </div>
            <div class='coluna' style=" border: 1px solid #000;padding: 5px;width:5%;">
              Maia
            </div>
          </div>  <div class="linha">
            <div class='coluna' style=" border: 1px solid #000;padding: 5px;width:4%;">
              20/03/2025 17:23
            </div>
            <div class='coluna' style="text-align:justify; border: 1px solid #000;padding: 5px;width:30%;">
              rrrrrrrrr
            </div>
            <div class='coluna' style=" border: 1px solid #000;padding: 5px;width:5%;">
              Maia
            </div>
          </div>        </div>
      </div>
  </section>
</div>